exampleproject/clientlib/src/main/java/com/optimaize/soapworks/exampleproject/clientlib/services/system/exceptionthrower/wsdl/exceptionthrower.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://system.services.server.exampleproject.soapworks.optimaize.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://system.services.server.exampleproject.soapworks.optimaize.com/" name="SoapExceptionThrowerService">
<types>
<xsd:schema>
<xsd:import namespace="http://system.services.server.exampleproject.soapworks.optimaize.com/" schemaLocation="http://localhost:80/soap/v1/system/exceptionthrower?xsd=1"/>
</xsd:schema>
</types>
<message name="throwAccessDeniedNoSuchAccount">
<part name="parameters" element="tns:throwAccessDeniedNoSuchAccount"/>
</message>
<message name="throwAccessDeniedNoSuchAccountResponse">
<part name="parameters" element="tns:throwAccessDeniedNoSuchAccountResponse"/>
</message>
<message name="AccessDeniedWebServiceException">
<part name="fault" element="tns:AccessDeniedWebServiceException"/>
</message>
<message name="InvalidInputWebServiceException">
<part name="fault" element="tns:InvalidInputWebServiceException"/>
</message>
<message name="InternalServerErrorWebServiceException">
<part name="fault" element="tns:InternalServerErrorWebServiceException"/>
</message>
<message name="throwAccessDeniedRequestLimitExceeded">
<part name="parameters" element="tns:throwAccessDeniedRequestLimitExceeded"/>
</message>
<message name="throwAccessDeniedRequestLimitExceededResponse">
<part name="parameters" element="tns:throwAccessDeniedRequestLimitExceededResponse"/>
</message>
<message name="throwAccessDeniedTooManyConcurrentRequests">
<part name="parameters" element="tns:throwAccessDeniedTooManyConcurrentRequests"/>
</message>
<message name="throwAccessDeniedTooManyConcurrentRequestsResponse">
<part name="parameters" element="tns:throwAccessDeniedTooManyConcurrentRequestsResponse"/>
</message>
<message name="throwInternal">
<part name="parameters" element="tns:throwInternal"/>
</message>
<message name="throwInternalResponse">
<part name="parameters" element="tns:throwInternalResponse"/>
</message>
<message name="throwInvalidInput">
<part name="parameters" element="tns:throwInvalidInput"/>
</message>
<message name="throwInvalidInputResponse">
<part name="parameters" element="tns:throwInvalidInputResponse"/>
</message>
<portType name="SoapExceptionThrower">
<operation name="throwAccessDeniedNoSuchAccount">
<input wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedNoSuchAccountRequest" message="tns:throwAccessDeniedNoSuchAccount"/>
<output wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedNoSuchAccountResponse" message="tns:throwAccessDeniedNoSuchAccountResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedNoSuchAccount/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedNoSuchAccount/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedNoSuchAccount/Fault/InternalServerErrorWebServiceException"/>
</operation>
<operation name="throwAccessDeniedRequestLimitExceeded">
<input wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedRequestLimitExceededRequest" message="tns:throwAccessDeniedRequestLimitExceeded"/>
<output wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedRequestLimitExceededResponse" message="tns:throwAccessDeniedRequestLimitExceededResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedRequestLimitExceeded/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedRequestLimitExceeded/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedRequestLimitExceeded/Fault/InternalServerErrorWebServiceException"/>
</operation>
<operation name="throwAccessDeniedTooManyConcurrentRequests">
<input wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedTooManyConcurrentRequestsRequest" message="tns:throwAccessDeniedTooManyConcurrentRequests"/>
<output wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedTooManyConcurrentRequestsResponse" message="tns:throwAccessDeniedTooManyConcurrentRequestsResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedTooManyConcurrentRequests/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedTooManyConcurrentRequests/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwAccessDeniedTooManyConcurrentRequests/Fault/InternalServerErrorWebServiceException"/>
</operation>
<operation name="throwInternal">
<input wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInternalRequest" message="tns:throwInternal"/>
<output wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInternalResponse" message="tns:throwInternalResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInternal/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInternal/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInternal/Fault/InternalServerErrorWebServiceException"/>
</operation>
<operation name="throwInvalidInput">
<input wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInvalidInputRequest" message="tns:throwInvalidInput"/>
<output wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInvalidInputResponse" message="tns:throwInvalidInputResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInvalidInput/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInvalidInput/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://system.services.server.exampleproject.soapworks.optimaize.com/SoapExceptionThrower/throwInvalidInput/Fault/InternalServerErrorWebServiceException"/>
</operation>
</portType>
<binding name="SoapExceptionThrowerPortBinding" type="tns:SoapExceptionThrower">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="throwAccessDeniedNoSuchAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="throwAccessDeniedRequestLimitExceeded">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="throwAccessDeniedTooManyConcurrentRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="throwInternal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="throwInvalidInput">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SoapExceptionThrowerService">
<port name="SoapExceptionThrowerPort" binding="tns:SoapExceptionThrowerPortBinding">
<soap:address location="http://localhost:80/soap/v1/system/exceptionthrower"/>
</port>
</service>
</definitions>