exampleproject/clientlib/src/main/java/com/optimaize/anythingworks/exampleproject/clientlib/soap/services/development/requestinfo/wsdl/requestinfo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/" name="SoapRequestInfoServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/" schemaLocation="http://localhost:80/soap/v1/system/requestinfo?xsd=1"/>
</xsd:schema>
</types>
<message name="requestInfo">
<part name="parameters" element="tns:requestInfo"/>
</message>
<message name="requestInfoResponse">
<part name="parameters" element="tns:requestInfoResponse"/>
</message>
<message name="AccessDeniedWebServiceException">
<part name="fault" element="tns:AccessDeniedWebServiceException"/>
</message>
<message name="InvalidInputWebServiceException">
<part name="fault" element="tns:InvalidInputWebServiceException"/>
</message>
<message name="InternalServerErrorWebServiceException">
<part name="fault" element="tns:InternalServerErrorWebServiceException"/>
</message>
<portType name="SoapRequestInfoService">
<operation name="requestInfo">
<input wsam:Action="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/SoapRequestInfoService/requestInfoRequest" message="tns:requestInfo"/>
<output wsam:Action="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/SoapRequestInfoService/requestInfoResponse" message="tns:requestInfoResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/SoapRequestInfoService/requestInfo/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/SoapRequestInfoService/requestInfo/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://requestinfo.development.soap.services.server.exampleproject.soapworks.optimaize.com/SoapRequestInfoService/requestInfo/Fault/InternalServerErrorWebServiceException"/>
</operation>
</portType>
<binding name="SoapRequestInfoServicePortBinding" type="tns:SoapRequestInfoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="requestInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SoapRequestInfoServiceService">
<port name="SoapRequestInfoServicePort" binding="tns:SoapRequestInfoServicePortBinding">
<soap:address location="http://localhost:80/soap/v1/system/requestinfo"/>
</port>
</service>
</definitions>