exampleproject/clientlib/src/main/java/com/optimaize/anythingworks/exampleproject/clientlib/soap/services/system/ping/wsdl/ping.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/" name="SoapPingServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/" schemaLocation="http://localhost:80/soap/v1/system/ping?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <message name="AccessDeniedWebServiceException">
        <part name="fault" element="tns:AccessDeniedWebServiceException"/>
    </message>
    <message name="InvalidInputWebServiceException">
        <part name="fault" element="tns:InvalidInputWebServiceException"/>
    </message>
    <message name="InternalServerErrorWebServiceException">
        <part name="fault" element="tns:InternalServerErrorWebServiceException"/>
    </message>
    <portType name="SoapPingService">
        <operation name="ping">
            <input wsam:Action="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/SoapPingService/pingRequest" message="tns:ping"/>
            <output wsam:Action="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/SoapPingService/pingResponse" message="tns:pingResponse"/>
            <fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/SoapPingService/ping/Fault/AccessDeniedWebServiceException"/>
            <fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/SoapPingService/ping/Fault/InvalidInputWebServiceException"/>
            <fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://ping.system.soap.services.server.exampleproject.anythingworks.optimaize.com/SoapPingService/ping/Fault/InternalServerErrorWebServiceException"/>
        </operation>
    </portType>
    <binding name="SoapPingServicePortBinding" type="tns:SoapPingService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedWebServiceException">
                <soap:fault name="AccessDeniedWebServiceException" use="literal"/>
            </fault>
            <fault name="InvalidInputWebServiceException">
                <soap:fault name="InvalidInputWebServiceException" use="literal"/>
            </fault>
            <fault name="InternalServerErrorWebServiceException">
                <soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SoapPingServiceService">
        <port name="SoapPingServicePort" binding="tns:SoapPingServicePortBinding">
            <soap:address location="http://localhost:80/soap/v1/system/ping"/>
        </port>
    </service>
</definitions>